$bgColor: #333;

* {
	margin: 0;
	padding: 0;
}

body {
    font-size: 10px;
    font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    background: #f4f8fb;
}

#root {
	// background: $bgColor;
	// color: #fff;
	// background-image: url(../img/banner/001.jpg);
}

