$headerHeight: 400px;

#header {
	position: relative;
	width: 100%;
	height: $headerHeight;
	nav {
		height: 36px;
		line-height: 36px;
		padding: 35px 40px;
    }
}

$fadeInTime: .6s;
#vertical {
    margin-top: 62px;
    text-align: center;
    h1, h2 {
        opacity: 0;
        transform: translateY(-12px);
    }
    h1 {
        margin: 10px 0 10px 0;
        // color: #000;
        color: #fff;
        font-size: 50px;
        text-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.5);
        // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #000, 0 0 70px #000;
        animation: vFadeIn $fadeInTime ease-in-out .2s 1 forwards;
        @media (max-width: 711px) {
            font-size: 36px;
        }
    }
    h2 {
        font-size: 27px;
        font-weight: 400;
        text-shadow: 0 1px 3px rgba(0,0,0,0.35);
        animation: vFadeIn $fadeInTime ease-in-out .1s 1 forwards;
        @media (max-width: 711px) {
            font-size: 18px;
        }
    }
}

@keyframes vFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#mask {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px; // special
	// background-image: url(./head_top_mask.png);
	background-image: url(../../img/header/head_top_mask.png);
	background-repeat: repeat-x;
}

#banner {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $headerHeight + 100px;
	background: url(../../img/banner/001.jpg) no-repeat center center;
	// background-image: url(../../img/banner/001.jpg);
	// background-position: center 0px;
	background-size: cover;
    z-index: -1;
    // filter: blur(2px);
}